.container {
  min-width: 1024px;
  display: flex;
  justify-content: space-between;

  &__category {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &--title {
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__button {
    height: 20px;
    border: none;
    padding: 0;
    background-color: #fff;
    cursor: pointer;
    text-align: left;

    &--selected {
      font-weight: bold;
    }
  }
}
