@use '/src/utils/scss/media' as media;

.container {
  min-width: 1024px;
  display: flex;
  justify-content: space-between;

  @include media.media-breakpoint(mobile) {
    min-width: 360px;
    width: auto;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__category {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @include media.media-breakpoint(mobile) {
      min-width: 360px;
      width: auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    &--title {
      font-size: 16px;
      font-weight: bold;

      @include media.media-breakpoint(mobile) {
        display: none;
      }
    }
  }

  &__button {
    height: 20px;
    border: none;
    padding: 0;
    background-color: #fff;
    cursor: pointer;
    text-align: left;

    @include media.media-breakpoint(mobile) {
      text-align: center;
    }

    &--selected {
      font-weight: bold;
    }
  }
}
