@use '/src/utils/scss/media' as media;

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @include media.media-breakpoint(mobile) {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__image {
    width: 350px;
    height: auto;
    object-fit: contain;

    @include media.media-breakpoint(mobile) {
      width: 90%;
    }
  }

  &__product {
    display: flex;
    flex-direction: column;
    width: 550px;
    border-left: 1px solid lightgray;
    padding-left: 20px;
    row-gap: 20px;

    &--title {
      font-size: 25px;
      font-weight: bold;

      @include media.media-breakpoint(mobile) {
        font-size: 16px;
        font-weight: 500;
      }
    }

    @include media.media-breakpoint(mobile) {
      width: 100%;
      border-left: none;
      padding-left: 0;
      align-items: center;
      row-gap: 16px;
    }
  }
}

.quantity-container {
  display: flex;
  justify-content: space-between;

  @include media.media-breakpoint(mobile) {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &--count {
    margin: 0 20px;

    @include media.media-breakpoint(mobile) {
      margin: 0;
    }
  }

  &__button {
    cursor: pointer;
    background-color: white;
    font-size: 20px;
    border: none;

    @include media.media-breakpoint(mobile) {
      font-size: 18px;
    }
  }
}

.total-price-container {
  display: flex;
  justify-content: space-between;

  @include media.media-breakpoint(mobile) {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &--price {
    font-size: 18px;
    font-weight: bold;

    @include media.media-breakpoint(mobile) {
      font-size: 16px;
    }
  }
}

.button-container {
  display: flex;
  justify-content: space-between;

  &--bucket {
    padding: 8px 108px;
    background-color: white;
    border: solid 1px blueviolet;
    border-radius: 5px;
    cursor: pointer;

    @include media.media-breakpoint(mobile) {
      width: 100%;
      padding: 10px;
      font-size: 14px;
    }
  }

  &--purchase {
    padding: 8px 108px;
    background-color: blueviolet;
    border: solid 1px white;
    color: white;
    border-radius: 5px;
    cursor: pointer;

    @include media.media-breakpoint(mobile) {
      width: 100%;
      padding: 10px;
      font-size: 14px;
    }
  }
}
