@use '/src/utils/scss/media' as media;

.no-data {
  width: 100%;
  min-height: 700px;
  text-align: center;
  display: flex;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 700px;
  column-gap: 5px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__search {
    grid-template-columns: repeat(5, 1fr);

    @include media.media-breakpoint(mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__product {
    width: 200px;
    height: 300px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &--ranking {
      font-size: 12px;
      font-weight: bold;
    }

    &--image {
      margin: 10px 20px;
      width: 160px;
      height: 200px;
    }

    &--name {
      width: 200px;
      font-size: 11px;
      /* 줄넘김 대신 '...'으로 */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--price {
      font-weight: bold;
    }
  }
}
