.header {
  position: fixed;
  top: 0;
  min-width: 1024px;
  padding: 12px 0;
  background-color: #fff;
  z-index: 5;

  &__main-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;

    &--left {
      display: flex;
      gap: 12px;
    }

    &--search {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &--input {
      padding: 8px 3px;
      border: 1px solid black;
      border-radius: 5px;
    }

    &--icon {
      cursor: pointer;
    }
  }
}

.bucket {
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px;
  top: 0;
  right: 5px;
  cursor: pointer;

  &__count {
    position: absolute;
    top: 1px;
    left: 4px;
    color: blue;
    font-weight: bold;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}
