@use '/src/utils/scss/media' as media;

.header {
  position: sticky;
  top: 0;
  width: 100vw;
  min-width: 1024px;
  padding: 32px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  z-index: 5;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    min-width: 360px;
    padding: 16px 0;
  }
}

.main-inner {
  display: flex;
  width: 1024px;
  justify-content: space-between;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    width: auto;
    min-width: 360px;
  }

  &--name {
    cursor: pointer;
    margin: 0;

    @include media.media-breakpoint(mobile) {
      font-size: 16px;
    }
  }

  &--left {
    display: flex;
    gap: 12px;

    @include media.media-breakpoint(mobile) {
      flex-direction: column;
      gap: 6px;
    }
  }

  &--search {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &--input {
    padding: 8px 3px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;

    @include media.media-breakpoint(mobile) {
      padding: 0;
    }
  }

  &--icon {
    cursor: pointer;

    @include media.media-breakpoint(mobile) {
      width: 16px;
      height: 16px;
    }
  }

  &__bucket {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    z-index: 5;
    cursor: pointer;

    @include media.media-breakpoint(mobile) {
      align-self: start;
      border: none;
      padding: 0;
    }

    &--count {
      position: absolute;
      top: 1px;
      left: 4px;
      color: blue;
      font-weight: bold;

      @include media.media-breakpoint(mobile) {
        display: none;
      }
    }

    &--icon {
      width: 32px;
      height: 32px;

      @include media.media-breakpoint(mobile) {
        width: 20px;
        height: 20px;
      }
    }
  }
}
