.container {
  width: 100vw;
  min-width: 1024px;
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  width: 1024px;
  padding: 12px 0;
  font-size: 12px;
  gap: 6px;

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__notice {
    color: #c1c1c1;
    font-size: 10px;
  }

  &__copyright {
    align-self: center;
  }
}
