@use 'utils/scss/media' as media;

#root {
  display: flex;
  flex-direction: column;
  min-width: 1024px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;

  @include media.media-breakpoint(mobile) {
    min-width: 360px;
  }
}

a,
button {
  color: #000;
}
